results/
results_polylj/
results_nnip/
results_nnip_new/
results_nnip_new_dynamics/
results_nnip_continuous/
results_nnip_continuous_new/
results_nnip_continuous_new_water/
results_nnip_continuous_dynamics/
results_nnip_continuous_dynamics_new/
Boltzmann_Estimators_Figures/
results*
test_lj*
landscapes/
nnip_continuous_dynamics_new/
*pyc
*.npy
*.png
*.pdf
*.jpg
*.ai
logs/
ground_truth_parallel/
ground_truth_polylj/
landscapes/
log.txt
test.gsd
ground_truth/
*.gsd
*.mp4