results/
results_polylj/
results_nnip/
results_nnip_new/
results_nnip_new_dynamics/
results_nnip_continuous/
results_nnip_continuous_new/
results_nnip_continuous_dynamics/
results_nnip_continuous_dynamics_new/
nnip_continuous_dynamics_new/
*.npy
*.png
logs/
ground_truth_parallel/
ground_truth_polylj/
log.txt
test.gsd
ground_truth/
*.gsd
*.mp4